# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
saves
crash-reports
logs
/.nb-gradle/
run/usernamecache.json
run/usernamecache.json
run/config/JEI/worldSettings.cfg